apiVersion: v2
appVersion: 1.0.0
description: Add components necessary for monitoring k3s server components
name: k3s-monitoring
version: 1.3.0
dependencies:
  - name: rancher-pushprox
    alias: k3sServer
    version: 2.0.0
    repository: https://ekristen.github.io/helm-charts
    condition: k3sServer.enabled
  - name: rancher-pushprox
    alias: k3sControllerManager
    version: 2.0.0
    repository: https://ekristen.github.io/helm-charts
    condition: k3sControllerManager.enabled
  - name: rancher-pushprox
    alias: k3sScheduler
    version: 2.0.0
    repository: https://ekristen.github.io/helm-charts
    condition: k3sScheduler.enabled
  - name: rancher-pushprox
    alias: ks3Proxy
    version: 2.0.0
    repository: https://ekristen.github.io/helm-charts
    condition: ks3Proxy.enabled
  - name: rancher-pushprox
    alias: k3sEtcd
    version: 2.0.0
    repository: https://ekristen.github.io/helm-charts
    condition: k3sEtcd.enabled
